.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.map-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#page-map {
  width: 150vh;
  height: 95vh;
}

#page-map .leaflet-container {
  z-index: 0;
}
